/* Created by: Nathan Araujo
* Created on: Feb 25 2022
* This CSS file defines the style for the index.html
* ICS2O-Unit-04-HTML-CSS
/*

body {
	background color: MediumTurquoise;
}

h1 {
	background-color rgb(135, 206, 250);
	color: hsl(25, 25, 112);
	padding: 40px;
	text-align: center;
}